* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

canvas {
  display: block;
}

.options-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20%;
}
#grid {
  position: absolute;
  top: 10px;
  left: 10px;

  /* display: none; */
}

.options-menu-visible {
  display: block;
}

.phone-menu-toggler {
  position: absolute;
  top: 200px;
  right: 10px;
}

#container {
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
}
